<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    props: { message: String },
    data() {
      return {
        msg: "<%= data.name %>",
      };
    },
    components: {},
    mixins: [],
    methods: {},
    created: function () {},
    mounted: function () {},
    computed: {},
    methods: {},
  };
</script>

<style scoped></style>
